:root {
  /* bg color settings */
  --bg-nav-cta-btn: #ff8e5e;

  /* font color settings */
  --font-color: #f6f4f2;
  --btn-font-color: #f6f4f2;

  /* radius */
  --radius: 0.25rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Righteous", sans-serif;
}
